.margin-top {
    /* margin-top: 66px; */
    margin-top: 80px;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 680px;
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #fff;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.title-search {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 0;
    margin: 0;
}

.inputs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    width: 50%;
}

.btn-search {
    border: none;
    width: 100%;
    padding: 0px;
    margin: 10px 0;
    background-color: #00AEEF;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-search:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.generic-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    color: #333;
    /* color: #00AEEF; */
    font-weight: 700;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 19rem), 1fr));
    grid-gap: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.container-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-about-child1 {
    width: 35%;
    padding: 0 15px;
}

.container-about-child2 {
    width: 63%;
    padding: 0 15px;
}

.container-about-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 5px 0;
}

.text-about-info {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.message-container {
    width: 35%;
}

.title {
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.message {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.form-container {
    width: 63%;
}


@media (max-width: 1290px) {
    .generic-title {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
        padding: 10px 20px;
    }
}

@media (max-width: 920px) {
    .generic-title {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
        padding: 10px 20px;
    }

    .container-about {
        display: block;
        width: 100%;
    }
    
    .container-about-child1,.container-about-child2 {
        width: 92%;
    }

    .message-container {
        width: 100%;
    }
    
    .form-container {
        width: 100%;
    }

    .contact-container {
        display: block;
    }

    .message-container {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .margin-top {
        /* margin-top: 55px; */
        margin-top: 68px;
    }

    .inputs-container {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .input {
        width: 100%;
        padding-top: 10px;
    }

    .search-container {
        margin: 15px;
    }

    .generic-title {
        padding: 0 15px;
    }

    .grid-container {
        padding: 10px 15px;
    }

    .container-about-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 5px 15px;
    }

    .text-about-info {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 13px;
        color: #333;
        font-weight: 500;
    }

    .container-about-child1 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 23px;
        font-weight: 600;
    }

    .message {
        font-size: 15px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .margin-top {
        /* margin-top: 48px; */
        margin-top: 65px;
    }
}