.desktop {
    display: block;
}

.mobile {
    display: none;
}

.width {
    width: 100%;
}

.container {
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    overflow: hidden;
    /* max-width: 1280px; */
    width: 100vw;
    /* margin: 0 auto; */
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 0 0 7px 7px;
}

.child {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
}

.logo {
    /* width: 150px; */
    width: 115px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.child-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item {
    padding: 7px 13px;
    gap: 6px;
}

.item:hover {
    background-color: #f9f9f9;
    padding: 7px 13px;
    border-radius: 6px;
    cursor: pointer;
}

.text {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.icon {
    cursor: pointer;
}

@media (max-width: 850px) {
    .mobile {
        display: block;
    }

    .logo {
        width: 100px;
        background-color: #fff;
    }

    .bigLogo {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* .container {
        margin: 0;
        width: 100%;
    } */

    .container-mobile {
        background-color: #fff;
        width: 100%;
        z-index: 999999999;
    }

    .btn-close {
        padding: 20px 15px;
        cursor: pointer;
    }

    .child-container-mobile {
        /* height: 72vh; */
        height: 55vh;
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* width: 230px; */
        width: 100vw;
    }

    .item {
        width: 100%;
        text-align: center;
        padding: 0;
        padding: 7px 0;
    }

    .item:hover {
        background-color: #f9f9f9;
        padding: 7px 0;
        border-radius: 6px;
        cursor: pointer;
    }

    .desktop {
        display: none;
    }
}
