.desktop {
    display: block;
}

.mobile {
    display: none;
}

.width {
    width: 100%;
}

.container {
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 0 0 7px 7px;
}

.logo {
    width: 60px;
    background-color: #fff;
}

.child-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item {
    padding: 7px 13px;
}

.item:hover {
    background-color: #f9f9f9;
    padding: 7px 13px;
    border-radius: 6px;
    cursor: pointer;
}

.text {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.icon {
    cursor: pointer;
}

@media (max-width: 725px) {
    .mobile {
        display: block;
    }

    .container-mobile {
        background-color: #fff;
        width: 100%;
        z-index: 999;
    }

    .btn-close {
        padding: 20px 15px;
        cursor: pointer;
    }

    .child-container-mobile {
        height: 72vh;
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* width: 230px; */
        width: 100vw;
    }

    .item {
        width: 100%;
        text-align: center;
        padding: 0;
        padding: 7px 13px;
    }

    .item:hover {
        background-color: #f9f9f9;
        padding: 7px 13px;
        border-radius: 6px;
        cursor: pointer;
    }

    .desktop {
        display: none;
    }
}
