.margin-top {
    margin-top: 80px;
}

.title-estates {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    color: #333;
    font-weight: 600;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 19rem), 1fr));
    grid-gap: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0px;
}

.container-btns1 {
    padding: 25px 15px;
}

.container-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px 0px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: #00AEEF;
}

.text-btn {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #333;
    color: #fff;
    font-weight: 600;
}

@media (max-width: 1290px) {
    .title-estates {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
        padding: 10px 20px;
    }
}

@media (max-width: 920px) {
    .title-estates {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
        padding: 10px 20px;
    }
}

@media (max-width: 800px) {
    .margin-top {
        margin-top: 56px;
    }

    .title-estates {
        padding: 0 15px;
    }

    .grid-container {
        padding: 10px 15px;
    }

    .container-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .margin-top {
        margin-top: 70px;
    }

    .container-btns1 {
        padding: 15px 15px;
    }
}