.margin-top {
    margin-top: 95px;
}

.mySwiper {
    max-width: 500px;
    height: 75px;
}

.swiper-slide img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px;  /* Cambia el ancho de la flecha */
    height: 50px; /* Cambia el alto de la flecha */
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px; /* Cambia el tamaño de la flecha */
}


.container-header-images {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.child1 {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
}

.container-images {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.desktop {
    display: block;
    width: 100%;
}

.mobile {
    display: none;
    width: 100%;
}

.resumen-title {
    text-align: left;
    font-size: 19px;
    font-weight: 600;
    padding: 0 20px;
    color: #000;
}

.resumen {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px;
    columns: #333;
}

.table {
    width: 93%;
    margin: 0 20px;
}

.title-row {
    background-color: #ededed;
    padding: 7px 20px;
    text-align: left;
    width: 50%;
    color: #333;
    font-weight: 600;
    margin: 0;
    border: none;
}

.data-row {
    background-color: #fff;
    padding: 7px 20px;
    text-align: left;
    width: 50%;
    color: #333;
    font-weight: 400;
    margin: 0;
    border: 1px solid #eee;
}

.child2 {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
}

.code-label {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: left;
    font-size: 15px;
    color: #5b5b5b;
}

.code-text {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.class-text {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.city {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 500;
}

.price {
    margin: 0;
    padding: 25px 0;
    padding: 10px 0;
    text-align: left;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.management-label {
    margin: 0;
    padding: 20px 0;
    padding: 10px 0;
    text-align: left;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

.management-text {
    margin: 0;
    padding: 25px 0;
    padding: 10px 0;
    text-align: left;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-left: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.btn-info {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #32ba46;
    width: 85%;
    border-radius: 50px;
    color: #fff;
    font-weight: 600px;
    font-size: 17px;
    padding: 0px 25px;
    cursor: pointer;
}

.btn-info:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.wpp-icon {
    width: 40px;
    padding: 0px ;
    margin: 0;
}

.generic-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    color: #333;
    /* color: #00AEEF; */
    font-weight: 700;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 19rem), 1fr));
    grid-gap: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 200px 0px 100px 0;
}


@media (max-width: 1290px) {
    .generic-title {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
        padding: 10px 20px;
    }
}

@media (max-width: 920px) {
    .generic-title {
        padding: 10px 20px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
        padding: 10px 20px;
    }
}

@media (max-width: 850px) {
    .margin-top {
        margin-top: 85px;
    }

    .mySwiper {
        /* max-width: 100%; */
        justify-content: center;
    }

    .container-header-images {
        width: 100%;
        display: block;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .child1 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .child2 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
    }

    .table {
        width: 95%;
    }

    .grid-container {
        padding: 10px 15px;
    }
}

@media (max-width: 600px) {
    .swiper-slide img {
        display: block;
        height: 70px;
        object-fit: cover;
    }

    .margin-top {
        margin-top: 53px;
    }

    .mySwiper {
        max-width: 350px;
    }

    .container-images {
        align-items: center;
        justify-content: center;
    }

    .child2 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: none;
    }

    .code-label, .code-text {
        padding: 0;
        margin: 0;
    }

    .padding-left {
        padding: 10px 15px;
    }

    .btn-info {
        width: 100%;
    }

    .table {
        width: 90%;
    }

    .no-data-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 140px 0px 65px 0;
    }
}

@media (max-width: 342px) {
    .mySwiper {
        max-width: 300px;
    }

    .table {
        width: 87%;
    }
}